/* BODY */
body {
    background-color: #424242;
}

.container {
    padding-top: 50px;
}

/* NAVBAR */
nav {
    background-color: #f44336;
}

.nav-wrapper {
    padding-left: 15px;
    padding-right: 10px;
}

/* BUTTONS */
#stop {
    display: none;
}

/* FOOTER */
footer.page-footer {
    background-color: #4CAF50;
}