/* BODY */
body {
    background-image: url("/img/photo.jpg");
}

/* INTRO TEXT */
.intro-text {
   margin-top: 3%;
}

.intro-text h1{
    color: white;
    font-size: 130px;
    font-family: 'Sacramento', cursive;
    
    /*font-family: 'Kaushan Script', cursive;
    font-family: 'Damion', cursive;*/
}

/* PANEL */
.pomodoro {
    background-color: rgb(216, 132, 158);
    color: white;
    width: 400px;
    height: 260px;
    border: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    
    margin-top: 10%;
}

#pomodoro, #rest {
    font-size: 100px;
}

/* ACTIONS */
.actions {
    margin-top: 10px;
    font-size: 20px;
}

/* DIVISOR */
.divisor {
    border-color: white;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    
    margin-left: 8%;
    margin-right: 8%;
}

/* BUTTONS */
button {
    background-color: transparent;
    /*color: black;*/
    border-color: transparent;
}

button:focus {
    outline: none;
}

.controllers {
    margin-top: 20px;
}

#stop {
    display: none;
}